*.bat text encoding=cp932 diff=sjis eol=crlf
*.cmd text encoding=cp932 diff=sjis eol=crlf
*.cs text encoding=utf8 diff=csharp eol=crlf
*.cginc text encoding=utf8 eol=crlf
*.shader text encoding=utf8 eol=crlf

*.mat merge=unityyamlmerge eol=lf
*.anim merge=unityyamlmerge eol=lf
*.unity merge=unityyamlmerge eol=lf
*.prefab merge=unityyamlmerge eol=lf
*.physicsMaterial2D merge=unityyamlmerge eol=lf
*.physicMaterial merge=unityyamlmerge eol=lf
*.asset merge=unityyamlmerge eol=lf
*.meta merge=unityyamlmerge eol=lf
*.controller merge=unityyamlmerge eol=lf
